@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using Umbraco.Cms.Core.Models.Blocks;
@using ContentModels = WRA.Umbraco.Models;

@{
    var content = (ContentModels.Accordions)Model.Content;
    bool enableDarkMode = content.EnableDarkMode;
    bool enableOutsideBorder = content.EnableOutsideBorder;
    bool enableFAQSchema = content.EnableFaqschema;

    var accordions = Model.Areas.FirstOrDefault();

    if (accordions != null)
    {
        <div class="accordions-wrapper @(enableDarkMode ? "accordions-wrapper--dark-mode" : "") @(enableOutsideBorder ? "accordions-wrapper--border" : "")">
            @foreach (var accordion in accordions)
            {
                <details class="accordion">
                    <summary class="accordion__toggle">
                        @accordion.Content.Value("label")
                        <div class="accordion__toggle-icon">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i>
                        </div>
                    </summary>
                    <div class="accordion__content">
                        @await Html.GetBlockGridItemAreaHtmlAsync(accordion, "accordion-area")
                    </div>
                </details>
            }
        </div>
    }
}

@if (accordions != null && enableFAQSchema)
{
    var accordionsCount = accordions.Count();
    int accordionInt = 1;

    <script type="application/ld+json">
    {
        "@@context": "https://schema.org",
        "@@type": "FAQPage",
        "mainEntity": [
            @foreach (var accordion in accordions)
            {
            var cleanAnswer = await Html.GetBlockGridItemAreaHtmlAsync(accordion, "accordion-area");
            <text>
                {
                    "@@type": "Question",
                    "name": "@accordion.Content.Value("label")",
                    "acceptedAnswer": {
                        "@@type": "Answer",
                        "text": "@Html.Raw(cleanAnswer.ToHtmlString().StripHtml())"
                    }
                }@(accordionInt != accordionsCount ? "," : string.Empty)
            </text>
            accordionInt++;
            }
        ]
    }
    </script>
}
