@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Web.Website.Controllers;
@using Umbraco.Cms.Web.Common.Models;
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@inject IMemberExternalLoginProviders memberExternalLoginProviders
@inject ITwoFactorLoginService twoFactorLoginService

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var loginModel = new LoginModel();
    var settings = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "siteSettings");
    loginModel.RedirectUrl = Umbraco.AssignedContentItem.Url();
}

<button class="d-none" type="button" data-a11y-dialog-show="forms-library-dialog">
    Open the dialog
</button>
<div id="forms-library-dialog" class="js-dialog dialog-container" aria-hidden="true">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div class="dialog-content-wrapper" style="max-width: 456px;" role="document">
        <div class="dialog-content-header text-end">
            <h2 class="h4 mb-0">Member Login Required</h2>
            <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
                &times;
            </button>
        </div>
        <div class="dialog-content">
            <div class="my-3 text-center">
                <img src="@(settings.Value<IPublishedContent>("headerLogo").Url())" alt="@(settings.Value<IPublishedContent>("headerLogo").Value("altText"))" />
            </div>
            @using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin", new { RedirectUrl = loginModel.RedirectUrl })) {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="@loginModel.Username" class="form-label fs-sm">Username</label>
                    <input asp-for="@loginModel.Username" class="form-control" required />
                    <span asp-validation-for="@loginModel.Username" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@loginModel.Password" class="form-label fs-sm">Password</label>
                    <input asp-for="@loginModel.Password" class="form-control" required />
                    <span asp-validation-for="@loginModel.Password" class="form-text text-danger"></span>
                </div>
                <button class="btn btn-primary btn-sm w-100" type="submit">Login</button>
                <div class="d-flex justify-content-center mt-4 mb-2 fs-sm">
                    <a href="/create-account/">Create Account</a>
                    <a class="ms-3 ps-3 border-start" href="/reset-password/">Reset Password</a>
                    <a class="ms-3 ps-3 border-start" href="#">Help</a>
                </div>
            }
        </div>
        @* <div class="dialog-content-footer">
            <div class="dialog-content-footer__left">
                <div class="form-check">
                    <input id="forms-library-dialog-checkbox" class="form-check-input" type="checkbox">
                    <label for="forms-library-dialog-checkbox" class="form-check-label">I have read and agree to the above.</label>
                </div>
            </div>
            <div class="dialog-content-footer__right">
                <a class="btn btn-light btn-sm" href="/">
                    Cancel
                </a>
                <button class="btn btn-primary btn-sm" type="button" disabled>
                    Continue
                </button>
            </div>
        </div> *@
    </div>
</div>