@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BundlePage>
@{
	Layout = "~/Views/_Layout.cshtml";
}
<div>
	@using (Html.BeginUmbracoForm("AddBundleToCart", "CartSurface")){
		<input type="hidden" name="BundleReference" value="@Model.BundleReferece" />
		<select multiple size="@Model.BundledProducts.Count()">
			@foreach (var bundleItem in Model.BundledProducts.Select((p, i) => new { Product = p, Index = i }))
			{
				var productRef = $"BundledProducts[{bundleItem.Index}].ProductReference";
				var productName = $"BundledProducts[{bundleItem.Index}].ProductName";
				<option name=@productName value="@bundleItem.Product.Name">@bundleItem.Product.Name</option>
				@* <option hidden name=@productRef value="@bundleItem.Product.Key.ToString()">@bundleItem.Product.Key</option> *@

				@Html.Hidden(productRef, bundleItem.Product.Key.ToString());
				@* @Html.Hidden(productName, bundleItem.Product.Name);  *@
			}
		</select>
		<button id="add-to-cart" class="btn btn-primary mb-6" type="submit">Add to Cart</button>
	}
</div>