@using WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutInformationPage>

@{
    Layout = "CheckoutStepPage.cshtml";
}

@section aside {
    @for (var i = 1; i <= 3; i++)
    {
        <div class="cart-item mb-4">
            <div class="cart-item__image me-4">
                <img class="align-top" src="https://placehold.it/56" alt="">
                <span class="cart-item__image-quantity">
                    <span class="visually-hidden">Quantity: </span> 1
                </span>
            </div>
            <div class="cart-item__content me-4">
                <a class="fs-sm text-decoration-none fw-bold text-body" href="#">2023-2024 Real Estate Continuing Education</a>
                <div class="fs-xs" style="color: #696f78;">On Demand</div>
            </div>
            <div class="cart-item__price">
                $000.00
            </div>
        </div>
    }        
    <table class="w-100">
        <tr style="border-top: 1px solid #d7d7dc;">
            <td class="py-3">Subtotal</td>
            <td class="py-3 text-end">$000.00</td>
        </tr>
        <tr>
            <td class="pb-3">Tax</td>
            <td class="pb-3 text-end">
                <span class="fs-xs">Calculated at next step</span>
            </td>
        </tr>
        <tr>
            <td class="pb-3">Shipping</td>
            <td class="pb-3 text-end">
                <span class="fs-xs">Calculated at next step</span>
            </td>
        </tr>
        <tr>
            <td class="pb-3">Discounts</td>
            <td class="pb-3 text-end">-$0.00</td>
        </tr>
        <tr class="fw-bold" style="border-top: 1px solid #d7d7dc;">
            <td class="py-3">Total</td>
            <td class="py-3 text-end">$000.00</td>
        </tr>
    </table>
}

<div class="mb-10">
    <h2 class="h4" style="text-transform: none;">Account Information</h2>
    <a href="mailto:email@email.com">email@email.com</a>
</div>

<h2 class="h4" style="text-transform: none;">Shipping Address</h2>
@using (Html.BeginUmbracoForm("UpdateOrderInformation", "CheckoutSurface"))
{
    <input type="hidden" name="nextStep" value="@(Model.NextStep?.Key)" />

    <div class="row g-2">
        <div class="col-12 col-md-6">
            <label for="customer-information-fname" class="visually-hidden">First name</label>
            <input id="customer-information-fname" class="form-control" type="text" required name="billingAddress.Firstname" value="@(Model.Order.CustomerInfo.FirstName)" placeholder="First name" />
        </div>
        <div class="col-12 col-md-6">
            <label for="customer-information-lname" class="visually-hidden">Last name</label>
            <input id="customer-information-lname" class="form-control" type="text" required name="billingAddress.Lastname" value="@(Model.Order.CustomerInfo.LastName)" placeholder="Last name" />
        </div>
        <div class="col-12">
            <label for="customer-information-company" class="visually-hidden">Company</label>
            <input id="customer-information-company" class="form-control" type="text" placeholder="Company (optional)" />
        </div>
        <div class="col-12">
            <label for="customer-information-address-1" class="visually-hidden">Address Line 1</label>
            <input id="customer-information-address-1" class="form-control" type="text" required name="billingAddress.Line1" value="@(Model.Order.Properties["billingAddressLine1"])" placeholder="Address Line 1" />
        </div>
        <div class="col-12">
            <label for="customer-information-address-line-2" class="visually-hidden">Address Line 2</label>
            <input id="customer-information-address-line-2" class="form-control" type="text" name="billingAddress.Line2" value="@(Model.Order.Properties["billingAddressLine2"])" placeholder="Address Line 2" />
        </div>
        <div class="col-12 col-md-4">
            <label for="customer-information-city" class="visually-hidden">City</label>
            <input id="customer-information-city" class="form-control" type="text" required name="billingAddress.City" value="@(Model.Order.Properties["billingCity"])" placeholder="City" />
        </div>
        <div class="col-12 col-md-4">
            <label for="customer-information-state" class="visually-hidden">State</label>
            <select id="customer-information-state" class="form-select" required>
                <option value="">State</option>
                <option value="WI">Wisconsin</option> @* temp *@
            </select>
        </div>
        <div class="col-12 col-md-4">
            <label for="customer-information-zip" class="visually-hidden">Zipcode</label>
            <input id="customer-information-zip" class="form-control" type="text" required name="billingAddress.ZipCode" value="@(Model.Order.Properties["shippingZipCode"])" placeholder="Zipcode" />
        </div>
        <div class="col-12">
            <label for="customer-information-address-county" class="visually-hidden">County (WI only)</label>
            <input id="customer-information-address-county" class="form-control" type="text" name="billingAddress.County" value="@(Model.Order.Properties["shippingCounty"])" placeholder="County (WI only)" />
        </div>
        <div class="col-12">
            <label for="customer-information-country" class="visually-hidden">Country</label>
            <select id="customer-information-country" class="form-select" required name="billingAddress.Country">
                <option value="">Country</option>
                @foreach (var country in Model.Countries)
                {
                    <!option value="@country.Id" @Html.Raw(Model.Order.PaymentInfo.CountryId == country.Id ? "selected=\"selected\"" : "")>@country.Name</!option>
                }
            </select>
        </div>
    </div>

    @Html.Partial("CheckoutPrevNext")
}