@using WRA.Umbraco.Models
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Commerce.Core.Models;
@using Umbraco.Commerce.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutStepPage>

@{
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    @RenderSection("head", false)
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="checkout.js"></script>
    @RenderSection("scripts", false)
}

<div class="checkout-wrapper">
    <div class="container py-5 py-lg-9">
        <h1 class="mb-4">Checkout</h1>

        @Html.Partial("CheckoutBreadcrumbs")

        <div class="row">
            <div class="col-12 col-lg-5 col-xl-4 offset-xl-1 order-lg-1 mb-5 mb-lg-0 pt-4 pt-lg-0 checkout-sidebar">
                @RenderSection("aside", false)
            </div>
            <div class="col-12 col-lg-7">
                @RenderBody()
            </div>
        </div>
    </div>
</div>