@using Microsoft.AspNetCore.Http.Extensions;
@using Umbraco.Commerce.Core.Models;
@using Umbraco.Commerce;
@using Umbraco.Commerce.Extensions;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using WRA.Umbraco;
@using ContentModels = WRA.Umbraco.Models;
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CollectionPage>

@{
    var sections = Model.Value<IEnumerable<BlockGridItem>>("sections");

    bool isBundled = true;//TO DO: need to flag if the product is a bundle


    //QUESTION: Make Categories selectable per Collection??
    //categories dropdown
    IEnumerable<IPublishedContent> classCategories = Umbraco.ContentAtRoot()
        .DescendantsOrSelfOfType("categoryPage").Where(x => x.IsVisible()).OrderBy(p => p.Name);

    //access incoming referrer parameter
    string refParameter = ViewContext.HttpContext.Request.Query["ref"].ToString();

    //access incoming category parameter
    string categoryParameter = ViewContext.HttpContext.Request.Query["category"].ToString();
    string subCategoryParameter = ViewContext.HttpContext.Request.Query["subcategory"].ToString();

    //check if parameter is part of category collection
    IEnumerable<IPublishedContent> checkCategory = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("categoryPage").Where(x => x.IsVisible() && x.Name == categoryParameter);
    
    var currentCategory = checkCategory.FirstOrDefault();//current category

    //check if parameter is part of subcategory collection
    IEnumerable<IPublishedContent> checkSubCategory = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("categoryPage").Where(x => x.IsVisible() && x.Name == subCategoryParameter);

}

<header class="page-header page-header--no-accent">
    <div class="container">
        <div class="container--sm">
            <h1 class="js-collection-title mb-0">
                @if (checkCategory.Count() != 0)
                {
                    @checkCategory.FirstOrDefault().Name
                } else
                {
                    @Model.Name
                }
            </h1>
            <span class="d-block">(CollectionPage.cshtml)</span>
        </div>
    </div>
</header>

<div class="text-bg-secondary pt-1 pb-5">
    <div class="text-light">
        @await Html.PartialAsync("_breadcrumbsProducts", new ViewDataDictionary(this.ViewData) { { "CssClass", "breadcrumbs--light" }, { "ParentName", "Education" }, { "ParentUrl", "/education" }, { "CurrentName", (checkCategory.Count() != 0 ? checkCategory.FirstOrDefault().Name : string.Empty) } })
    </div>
    <div class="container">
        <label class="visually-hidden" for="collection-filter">Filter Categories</label>
        <select id="collection-filter" class="js-collection-category-filter form-select d-inline-block w-auto">
            @foreach (var classCategory in classCategories)
            {
                <!option value="@classCategory.Name" @(categoryParameter == classCategory.Name ? "selected" : string.Empty)>@classCategory.Name</!option>
            }
        </select>
    </div>
</div>

@await Html.PartialAsync("blockgrid/default", sections)

<div class="container my-4 my-lg-6">

    @*  @if (isBundled)  //COURSE BUNDLE CARD
        {
        <h2 class="h3 pt-4 border-top border-medium mb-6">Course Bundle</h2>

        <div class="card card-bundle col-6 gap-0 p-0">
            <p class="mb-0 fs-xs px-4 py-1" style="background: var(--bs-blue-light)">Bundle <span class="ms-3 fw-semibold">Credit Hours: 18</span></p>
            <div class="p-4 h-100">
                <p class="d-inline-block mb-4 px-2 py-1 bg-light fw-semibold fs-sm text-uppercase">On Demand</p>
                <h3 class="fs-lg text-capitalize fw-semibold mb-4">Class Name Title</h3>
                <div class="d-flex flex-row align-self-stretch mt-5 mt-7">
                    <a href="/" id="view-product" class="btn btn-primary border-0">View Product</a>
                    <div class="ps-4">
                        <div class="d-block mb-1">
                            <span class="h3 fw-bold">
                                $50.00
                            </span>
                            <span class="fs-sm" style="color: var(--bs-gray-30)">
                                &nbsp;member pricing
                            </span>
                        </div>
                        <div class="d-block fs-sm mb-0" style="color: var(--bs-gray-30)">
                            $50.00 &nbsp;non-member pricing
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } *@

    <h2 class="js-listings-title h3 pt-4 mt-4 mt-lg-8 border-top border-medium mb-4">Individual Classes</h2>

    <div class="js-collection-subcategory-container" hidden>
        <label for="collection-filter" class="d-block text-uppercase font-family-3 fw-normal mb-2">Course Type</label>
        <select id="collection-filter" class="js-collection-subcategory-filter form-select d-inline-block w-auto mb-4 mb-lg-6">
        </select>
    </div>
    <div class="position-relative" style="min-height: 350px;">
        <div class="js-product-collection row align-items-md-stretch g-4">
            @* "The space between our wicked lies is, Where we hope to keep safe from pain" *@
        </div>
        <div class="js-results-loader search-loading" title="Please wait, loading.">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

</div>


