@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = WRA.Umbraco.Models;
@using Umbraco.Cms.Core.Security
@using WRA.Umbraco.Web.Services

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<WRA.Umbraco.Models.MywraDues>
@inject IMemberManager _memberManager


@{
    Layout = "~/Views/_Layout.cshtml";
    var content = (ContentModels.MywraDues)Model;

    var currentMemberQuery = await _memberManager.GetCurrentMemberAsync();
    // cast it to a published contnet type
    var currentMember = _memberManager.AsPublishedMember(currentMemberQuery);
    // pass this type to the constructor of the strongly typed member model
    var member = new ContentModels.Member(currentMember, new NoopPublishedValueFallback());

    var memberDuesQuery = content.MemberDues;
    var memberDuesHistory = memberDuesQuery?.HistoricalPayments;
    var memberBoard = memberDuesQuery.PaymentStrategy;

}

<div class="w-100">
    <div class="row g-0">

        @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", true } })
        @await Html.PartialAsync("_mywraNav", Model)

        <div class="col position-relative pb-5">
            @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", false } })

            <div class="mywra-right container container--md ms-0 pt-5 pt-lg-11">

                @if (!String.IsNullOrEmpty(content.Headline))
                {
                    <h1 class="h2">@content.Headline</h1>
                }

                @if (!String.IsNullOrEmpty(content.IntroContent.ToString()))
                {
                    <div class="rich-text mb-5">
                        @Html.Raw(content.IntroContent)
                    </div>
                }

                <div class="w-100 px-2 border border-medium rounded mb-5">
                    <div class="px-2_5 d-flex flex-column g-4">
                        <a id="tab-pay-dues" href="#tabpanel-pay-dues" role="tab" aria-selected="false" aria-controls="tabpanel-pay-dues" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                            <span>Pay Dues</span>
                            <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                        </a>
                        <a id="tab-dues-history" href="#tabpanel-dues-history" role="tab" aria-selected="false" aria-controls="tabpanel-dues-history" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                            <span>Dues History</span>
                            <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                        </a>
                    </div>
                </div>

                <!-- PAY DUES TAB -->
                <div id="tabpanel-pay-dues" tabindex="0" role="tabpanel" aria-labelledby="tab-pay-dues" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                    <div class="w-100 h-100">
                        <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                            <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                    <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">WRA Dues</span></button>
                                </div>
                            </div>
                            <div class="col position-relative bg-white pb-5">
                                <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">

                                    @if (!String.IsNullOrEmpty(content.PayDuesHeadline))
                                    {
                                        <h2 class="h2">@content.PayDuesHeadline</h2>
                                    }

                                    @if (!String.IsNullOrEmpty(content.PayDuesIntroContent.ToString()))
                                    {
                                        <div class="rich-text mb-5">
                                            @Html.Raw(content.PayDuesIntroContent)
                                        </div>
                                    }

                                    <h3 class="h5 mb-3 text-normal">Payment Instructions</h3>

                                    @for (var i = 1; i < 4; i++)
                                    {
                                        var groupContent = content.GetProperty($"PaymentGroup{i}Content");
                                        var groupLink = content.Value<Link>($"PaymentGroup{i}Button");
                                        var groupFooterText = content.GetProperty($"PaymentGroup{i}FooterText");

                                        @if (groupContent.HasValue())
                                        {
                                            <div class="border border-medium p-4 rounded mb-3">

                                                <div class="rich-text">
                                                    @groupContent.GetValue()
                                                </div>

                                                @if (groupLink != null)
                                                {
                                                    <a href="@groupLink.Url" class="btn btn-primary" target="@groupLink.Target">@groupLink.Name</a>
                                                }

                                                @if (groupFooterText.HasValue())
                                                {
                                                    <small class="d-block fw-bold fs-xs mt-3">@groupFooterText.GetValue()</small>
                                                }
                                            </div>
                                        }
                                    }

                                    <h3 class="h5 mt-4 mb-3 text-normal">@member.FirstName's Local Board Information</h3>
                                    <div class="w-100 border border-medium rounded mb-5">
                                        <table class="table-info w-100 fs-sm">
                                            <thead class="visually-hidden">
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color: var(--bs-gray-30)">
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoard))
                                                {
                                                <tr>
                                                    <td class="py-2">
                                                        Name
                                                    </td>
                                                    <td class="py-2 text-body">
                                                        @memberBoard.LocalBoard
                                                    </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoardFullAddress))
                                                {
                                                <tr>
                                                    <td class="py-2">
                                                        Address
                                                    </td>
                                                    <td class="py-2 text-body">
                                                        @memberBoard.LocalBoardFullAddress
                                                    </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoardPhone))
                                                {
                                                    <tr>
                                                        <td class="py-2">
                                                            Phone
                                                        </td>
                                                        <td class="py-2 text-body">
                                                            @memberBoard.LocalBoardPhone
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoardFax))
                                                {
                                                    <tr>
                                                        <td class="py-2">
                                                            Fax
                                                        </td>
                                                        <td class="py-2 text-body">
                                                            @memberBoard.LocalBoardFax
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoardEmail))
                                                {
                                                    <tr>
                                                        <td class="py-2">
                                                            Email
                                                        </td>
                                                        <td class="py-2 text-body">
                                                            @memberBoard.LocalBoardEmail
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(memberBoard.LocalBoardWebsite))
                                                {
                                                    <tr>
                                                        <td class="py-2">
                                                            Website
                                                        </td>
                                                        <td class="py-2 text-body">
                                                            @memberBoard.LocalBoardWebsite
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- DUES HISTORY TAB -->
                <div id="tabpanel-dues-history" tabindex="0" role="tabpanel" aria-labelledby="tab-dues-history" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                    <div class="w-100 h-100">
                        <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                            <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                    <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">WRA Dues</span></button>
                                </div>
                            </div>
                            <div class="col position-relative bg-white pb-5">
                                <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">

                                    @if (!String.IsNullOrEmpty(content.DuesHistoryHeadline))
                                    {
                                        <h2 class="h2">@content.DuesHistoryHeadline</h2>
                                    }

                                    @if (!String.IsNullOrEmpty(content.DuesHistoryIntroContent.ToString()))
                                    {
                                        <div class="rich-text mb-5">
                                            @Html.Raw(content.DuesHistoryIntroContent)
                                        </div>
                                    }
                                  
                                    <div class="w-100 border border-medium rounded mb-5">
                                        <table class="table-info w-100 fs-sm">
                                            <thead class="fw-bold border-bottom border-medium">
                                                <tr>
                                                    <th class="py-2">Transaction Date</th>
                                                    <th class="py-2">Total Amount</th>
                                                    <th class="visually-hidden">View or Print</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color: var(--bs-gray-30)" class="text-body">
                                                @foreach (var dues in memberDuesHistory)
                                                {
                                                    <tr>
                                                        <td class="py-2">
                                                            @dues.PaidDate.ToString("MM/dd/yyyy")
                                                        </td>
                                                        <td class="py-2">
                                                            @string.Format("{0:C}", dues.TotalAmount)
                                                        </td>
                                                        <td class="py-2 text-end">
                                                            <button class="js-pop-btn text-link" aria-controls="dues@(dues.Id)">View/Print</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <!-- View/Print Modals -->
                                        @foreach (var dues in memberDuesHistory)
                                        {
                                            <div id="dues@(dues.Id)" name="dues@(dues.Id)" aria-hidden="true" class="js-modal modal bundle-modal">
                                                <div class="modal__container">
                                                    <div class="modal__header">
                                                        <button aria-controls="dues@(dues.Id)" title="Close Modal" class="js-modal-close btn-close border-0"><i class="fal fa-times"></i></button>
                                                    </div>
                                                    <div class="modal__content">
                                                        <div class="printer_area">
                                                            <p class="h5">@dues.CompanyName</p>
                                                            <p>Dues payment receipt @dues.PaidDate.ToString("MM/dd/yyyy")</p>
                                                            <div id="dues@(dues.Id)" class="modal__content__inner  p-0">
                                                                <table class="table-info w-100 fs-sm">
                                                                    <thead class="fw-bold border-bottom border-medium">
                                                                        <tr>
                                                                            <th class="py-2 text-start fw-bold">Item</th>
                                                                            <th class="py-2 text-end fw-bold">Amount Paid</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="color: var(--bs-gray-30)" class="text-body">
                                                                        @foreach (var line in dues.TransactionLineItems)
                                                                        {
                                                                            <tr>
                                                                                <td class="py-2 text-start">
                                                                                    @line.Description
                                                                                </td>
                                                                                <td class="py-2 text-end">
                                                                                    @string.Format("{0:C}", line.Price)
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        <tr class="visually-hidden"></tr>
                                                                    </tbody>
                                                                    <tfoot class="fw-bold">
                                                                        <tr>
                                                                            <td class="py-2 text-start">
                                                                                Total
                                                                            </td>
                                                                            <td class="py-2 text-end">
                                                                                @string.Format("{0:C}", dues.TotalAmount)
                                                                            </td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="text-end">
                                                            <a href="#" onclick="javascript: return false;" data-printid="dues@(dues.Id)" class="js-print d-print-none mt-4 btn btn-primary btn-sm">
                                                                Print
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>