@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Umbraco.Cms.Core.Security
@using ContentModels = WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<WRA.Umbraco.Models.MywraCompany>
@inject IMemberManager _memberManager

@{
    Layout = "~/Views/_Layout.cshtml";
    var content = (ContentModels.MywraCompany)Model;
    // get current member
    var currentMemberQuery = await _memberManager.GetCurrentMemberAsync();
    // cast it to a published contnet type
    var currentMember = _memberManager.AsPublishedMember(currentMemberQuery);
    // pass this type to the constructor of the strongly typed member model
    var member = new ContentModels.Member(currentMember, new NoopPublishedValueFallback());


}

<div class="w-100">
    <div class="row g-0">

        @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", true } })
        @await Html.PartialAsync("_mywraNav")

        <div class="col position-relative">
            @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", false } })
            <div class="mywra-right container container--md ms-0 pt-5 pt-lg-11">

                @if (!String.IsNullOrEmpty(content.Headline))
                {
                    <h1 class="h2">@content.Headline</h1>
                }

                @if (!String.IsNullOrEmpty(content?.IntroContent?.ToString()))
                {
                    <div class="rich-text mb-5">
                        @Html.Raw(content.IntroContent)
                    </div>
                }

                 <div class="pb-2 pb-lg-4 position-relative">


                    <div class="w-100 px-2 border border-medium rounded mb-5">
                        <div class="px-2_5 d-flex flex-column g-4">
                            <a id="tab-education-history" href="#tabpanel-education-history" role="tab" aria-selected="false" aria-controls="tabpanel-education-history" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Agent Education History</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-ethics-training" href="#tabpanel-ethics-training" role="tab" aria-selected="false" aria-controls="tabpanel-ethics-training" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Agent Ethics Training Status</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-event-registrations" href="#tabpanel-event-registrations" role="tab" aria-selected="false" aria-controls="tabpanel-event-registrations" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Agent Event Registrations</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-info-change" href="#tabpanel-info-change" role="tab" aria-selected="false" aria-controls="tabpanel-info-change" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Company Information Change Form</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-education-programs" href="#tabpanel-education-programs" role="tab" aria-selected="false" aria-controls="tabpanel-education-programs" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Company Education Programs</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-library-subscriptions" href="#tabpanel-library-subscriptions" role="tab" aria-selected="false" aria-controls="tabpanel-library-subscriptions" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none d-flex flex-row align-items-center justify-content-between">
                                <span>WRA PDF Forms Library Subscription</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                        </div>
                    </div>



                    <!-- Agent Education History TAB -->
                    <div id="tabpanel-education-history" tabindex="0" role="tabpanel" aria-labelledby="tab-education-history" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlineAgentEdHist))
                                        {
                                            <h2 class="h2">@content.HeadlineAgentEdHist</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentAgentEdHist?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentAgentEdHist)
                                            </div>
                                        }

                                        <div class="w-100 py-3 px-4 border border-medium rounded mb-3">
                                            <label for="lorem" class="mb-3">At eget vulputate sapien duis curabitur vulputate morbi feugiat euismod.</label>
                                            <select id="lorem" class="form-select">
                                                <option selected>Select a ...</option>
                                            </select>
                                        </div>

                                        <div class="w-100 py-3 px-4 border border-medium rounded mb-5">
                                            <label for="lorem" class="mb-3">At eget vulputate sapien duis curabitur vulputate morbi feugiat euismod.</label>
                                            <select id="lorem" class="form-select">
                                                <option selected>Select a ...</option>
                                            </select>
                                            <div class="form-check mt-2">
                                                <input id="download-csv" class="form-check-input" type="checkbox">
                                                <label for="download-csv" class="form-check-label">Download as CSV</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agent Ethics Training Status TAB -->
                    <div id="tabpanel-ethics-training" tabindex="0" role="tabpanel" aria-labelledby="tab-ethics-training" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlineAgentTrainingStatus))
                                        {
                                            <h2 class="h2">@content.HeadlineAgentTrainingStatus</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentAgentTrainingStatus?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentAgentTrainingStatus)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agent Event Registrations TAB -->
                    <div id="tabpanel-event-registrations" tabindex="0" role="tabpanel" aria-labelledby="tab-event-registrations" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlineEventRegistration))
                                        {
                                            <h2 class="h2">@content.HeadlineEventRegistration</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentEventRegistration?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentEventRegistration)
                                            </div>
                                        }

                                        <div class="w-100 py-3 px-4 border border-medium rounded mb-3">
                                            <label for="lorem" class="mb-3">At eget vulputate sapien duis curabitur vulputate morbi feugiat euismod.</label>
                                            <select id="lorem" class="form-select">
                                                <option selected>Select a ...</option>
                                            </select>
                                        </div>

                                        <div class="w-100 py-3 px-4 border border-medium rounded mb-5">
                                            <label for="lorem" class="mb-3">At eget vulputate sapien duis curabitur vulputate morbi feugiat euismod.</label>
                                            <select id="lorem" class="form-select">
                                                <option selected>Select a ...</option>
                                            </select>
                                            <div class="mt-3">
                                                <button class="btn btn-primary btn-sm">
                                                    <i class="fa-regular fa-arrow-down-to-bracket pe-2"></i>
                                                    Download CSV
                                                </button>
                                            </div>
                                            <h3 class="p-2 d-block mt-4 mb-3" style="background-color: var(--bs-primary-bg-subtle)">Lorem Convention (00/0/0000)</h3>
                                            <div class="form-check mt-2">
                                                <input id="download-csv" class="form-check-input" type="checkbox">
                                                <label for="download-csv" class="form-check-label">Only show registered agents.</label>
                                            </div>

                                            @for (int i = 0; i < 5; i++)
                                            {

                                                <h4 class="yellow-line fs-lg fw-bold text-capitalize mt-3 pt-1">Realty Company Lorem</h4>
                                                <p class="fs-sm mb-2" style="color: var(--bs-gray-30)">5555 W Main Rd Ste 240, Duluth, MN</p>

                                                <table border="0" class="w-100 fs-sm fw-400">
                                                    <thead class="visually-hidden">
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Title</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for(int n = 0; n < 3; n++)
                                                        {
                                                            <tr>
                                                                <td class="border-bottom border-light py-1">Lastname, Firstname</td>
                                                                <td class="border-bottom border-light py-1">RN</td>
                                                                <td class="border-bottom border-light py-1 text-end">Not Registered</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                        </div>
                                    </div>
                                    <button aria-hidden="true" class="js-scroll-top btn-scroll-top btn-scroll-top--inset" data-targetid="tabpanel-event-registrations" data-paneid="tabpanel-event-registrations" title="Back to Top" hidden>
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Company Information Change Form TAB -->
                    <div id="tabpanel-info-change" tabindex="0" role="tabpanel" aria-labelledby="tab-info-change" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlineCompanyInfoChangeForm))
                                        {
                                            <h2 class="h2">@content.HeadlineCompanyInfoChangeForm</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentCompanyInfoChangeForm?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentCompanyInfoChangeForm)
                                            </div>
                                        }

                                        @await Umbraco.RenderMacroAsync("renderUmbracoForm", new { FormGuid = "55f464b9-33cc-4a35-aa23-254a6c3458b5", FormTheme = "custom", ExcludeScripts = "0" })
                                    </div>
                                    <button aria-hidden="true" class="js-scroll-top btn-scroll-top btn-scroll-top--inset" data-targetid="tabpanel-info-change" data-paneid="tabpanel-info-change" title="Back to Top"  hidden>
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Company Education Programs TAB -->
                    <div id="tabpanel-education-programs" tabindex="0" role="tabpanel" aria-labelledby="tab-education-programs" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlineCompanyEducationPrograms))
                                        {
                                            <h2 class="h2">@content.HeadlineCompanyEducationPrograms</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentCompanyEducationPrograms?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentCompanyEducationPrograms)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- WRA PDF Forms Library Subscription TAB -->
                    <div id="tabpanel-library-subscriptions" tabindex="0" role="tabpanel" aria-labelledby="tab-library-subscriptions" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">My Company</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content?.HeadlinePdfFormsLibrary))
                                        {
                                            <h2 class="h2">@content.HeadlinePdfFormsLibrary</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content?.IntroContentPdfFormsLibrary?.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.IntroContentPdfFormsLibrary)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>