@using ContentModels = WRA.Umbraco.Models;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Umbraco.Cms.Core.Security
@using WRA.Umbraco.Helpers.Constants
@using WRA.Umbraco.Web.Controllers.MyWRA
@using WRA.Umbraco.Web.Dtos.MyWRA
@using WRA.Umbraco.Web.Services

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<WRA.Umbraco.Models.MywraProfile>
@inject IMemberManager _memberManager
@inject MemberDonationService _memberDonationService

@{
	Layout = "~/Views/_Layout.cshtml";
	var content = Model;
	var memberUpdateModel = Model.EditableMember;
	var emailSubscriptionUpdateModel = Model.EmailPreferences;
	var magazineSubscriptionUpdateModel = Model.MagazinePreferences;

	// get current member
	var currentMemberQuery = await _memberManager.GetCurrentMemberAsync();
	// cast it to a published contnet type
	var currentMember = _memberManager.AsPublishedMember(currentMemberQuery);
	// pass this type to the constructor of the strongly typed member model
	var member = new ContentModels.Member(currentMember, new NoopPublishedValueFallback());

	var memberExternalId = member?.ExternalId;
	var memberDonationQuery = content.MemberDonations;

	var memberCommittees = content.MemberCommittees;
}


<div class="w-100">
    <div class="row g-0">

        @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", true } })
        @await Html.PartialAsync("_mywraNav")

        <div class="col position-relative pb-5">
            @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", false } })

            <div class="mywra-right container container--md ms-0 pt-5 pt-lg-11">
                <div class="pb-2 pb-lg-4 position-relative">

                    <div class="w-100 px-2 border border-medium rounded mb-5">
                        <div class="px-2_5 d-flex flex-column g-4">
                            <a id="tab-personal-information" href="#tabpanel-personal-information" role="tab" aria-selected="false" aria-controls="tabpanel-personal-information" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Personal Information</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-committees" href="#tabpanel-committees" role="tab" aria-selected="false" aria-controls="tabpanel-committees" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>Committees</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-donor-status" href="#tabpanel-donor-status" role="tab" aria-selected="false" aria-controls="tabpanel-donor-status" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none border-bottom border-medium d-flex flex-row align-items-center justify-content-between">
                                <span>RPAC & Direct Giver Donor Status</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                            <a id="tab-subscriptions" href="#tabpanel-subscriptions" role="tab" aria-selected="false" aria-controls="tabpanel-subscriptions" class="js-page-tab w-100 py-3 text-body fw-bold text-decoration-none d-flex flex-row align-items-center justify-content-between">
                                <span>Subscription Preferences</span>
                                <i class="fas fa-chevron-right" style="color: var(--bs-primary)"></i>
                            </a>
                        </div>
                    </div>

                    <!-- PERSONAL INFORMATION TAB -->
                    <div id="tabpanel-personal-information" tabindex="0" role="tabpanel" aria-labelledby="tab-personal-information" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">Profile</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">

                                        @if (!String.IsNullOrEmpty(content.PersonalInformationHeadline))
                                        {
                                            <h1 class="h2">@content.PersonalInformationHeadline</h1>
                                        }

                                        @if (!String.IsNullOrEmpty(content.PersonalInformationIntroContent.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.PersonalInformationIntroContent)
                                            </div>
                                        }

                                        @using (Html.BeginUmbracoForm<MemberEditSurfaceController>(nameof(MemberEditSurfaceController.HandleMemberEdit)))
                                        {
                                            <input asp-for=@memberUpdateModel.MemberId type="hidden" />
                                            <input asp-for=@memberUpdateModel.RedirectUrl value="@(content.Url().TrimEnd('/'))#tabpanel-personal-information" type="hidden" />

                                            <h3 class="h5 mb-2 text-normal">Information</h3>
                                            <div class="w-100 border border-medium rounded mb-5">
                                                <table class="table-info w-100 fs-sm">
                                                    <thead class="visually-hidden">
                                                        <tr>
                                                            <th>Item</th>
                                                            <th>Value</th>
                                                            <th>Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: var(--bs-gray-30)">
                                                        <tr>
                                                            <td class="py-2" style="min-width: 150px;">First Name</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.FirstName</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_FirstName" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.FirstName" class="text-body">First Name</label>
                                                                                <input asp-for=@memberUpdateModel.FirstName />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_FirstName">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Last Name</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.LastName</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_LastName" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.LastName" class="text-body">Last Name</label>
                                                                                <input asp-for=@memberUpdateModel.LastName />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_LastName">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Address</td>
                                                            <td class="py-2 text-body">@memberUpdateModel?.Address1</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_Address1" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.Address1" class="text-body">Address</label>
                                                                                <input asp-for=@memberUpdateModel.Address1 />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_Address1">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Address 2</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.Address2</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_Address2" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.Address2" class="text-body">Address 2</label>
                                                                                <input asp-for=@memberUpdateModel.Address2 />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_Address2">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">City</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.City</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_City" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.City" class="text-body">City</label>
                                                                                <input asp-for=@memberUpdateModel.City />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_City">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">State</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.State</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_State" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.State" class="text-body">State</label>
                                                                                <input asp-for=@memberUpdateModel.State />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_State">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Zip Code</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.ZipCode</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_ZipCode" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.ZipCode" class="text-body">Zip Code</label>
                                                                                <input asp-for=@memberUpdateModel.ZipCode />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_ZipCode">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Mobile Phone</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.CellPhone</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_CellPhone" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.CellPhone" class="text-body">Mobile Phone</label>
                                                                                <input asp-for=@memberUpdateModel.CellPhone />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_CellPhone">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Home Phone</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.HomePhone</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_HomePhone" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.HomePhone" class="text-body">Home Phone</label>
                                                                                <input asp-for=@memberUpdateModel.HomePhone />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_HomePhone">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Work Phone</td>
                                                            <td class="py-2 text-body">@member.WorkPhone</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_WorkPhone" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.WorkPhone" class="text-body">Work Phone</label>
                                                                                <input asp-for=@memberUpdateModel.WorkPhone />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_WorkPhone">Edit</button>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <h3 class="h5 mb-2 text-normal">Settings</h3>
                                            <div class="w-100 border border-medium rounded mb-5">
                                                <table class="table-info w-100 fs-sm">
                                                    <thead class="visually-hidden">
                                                        <tr>
                                                            <th>Item</th>
                                                            <th>Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: var(--bs-gray-30)">
                                                        <tr>
                                                            <td class="py-2" style="min-width: 150px;">Security</td>
                                                            <td class="py-2 text-body lh-lg" colspan="2">
                                                                @if (content.HasValue("usernameChangeUrl"))
                                                                {
                                                                    <a href="@content.UsernameChangeUrl.Url" target="@(content.UsernameChangeUrl.Target ?? "_blank")" class="text-link border-0 bg-transparent py-2">@(content.UsernameChangeUrl.Name ?? "Change User Name")</a>
                                                                    <br />
                                                                }
                                                                @if (content.HasValue("passwordChangeUrl"))
                                                                {
                                                                    <a href="@content.PasswordChangeUrl.Url" target="@(content.PasswordChangeUrl.Target ?? "_blank")" class="text-link border-0 bg-transparent py-2">@(content.PasswordChangeUrl.Name ?? "Change Password")</a>
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="py-2">Email</td>
                                                            <td class="py-2 text-body" colspan="2">@memberUpdateModel.Email</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Personal Website</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.PersonalWebSite</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_PersonalWebSite" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.PersonalWebSite" class="text-body">Personal Website</label>
                                                                                <input asp-for=@memberUpdateModel.PersonalWebSite />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_PersonalWebSite">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Primary Counties</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.PrimaryCounties</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_PrimaryCounties" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.PrimaryCounties" class="text-body">Primary Counties</label>
                                                                                <input asp-for=@memberUpdateModel.PrimaryCounties />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_PrimaryCounties">Edit</button>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="py-2">Secondary Language</td>
                                                            <td class="py-2 text-body">@memberUpdateModel.SecondaryLanguage</td>
                                                            <td class="py-2 text-end">
                                                                <div id="info_SecondaryLanguage" class="js-dialog dialog-container" aria-hidden="true">
                                                                    <div class="dialog-overlay" data-a11y-dialog-hide></div>
                                                                    <div class="dialog-content-wrapper" style="max-width: 550px; max-height: 75vh;" role="document">
                                                                        <div class="dialog-content-header p-1 justify-content-end rounded-top" style="background-color: var(--bs-gray-10)">
                                                                            <h4 class="h4 mb-0 visually-hidden">Edit</h4>
                                                                            <button onclick="return false;" type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                                                                &times;
                                                                            </button>
                                                                        </div>
                                                                        <div class="dialog-content px-5 py-3 fs-sm">
                                                                            <div class="d-flex flex-row justify-content-between mb-3">
                                                                                <label asp-for="@memberUpdateModel.SecondaryLanguage" class="text-body">Secondary Language</label>
                                                                                <input asp-for=@memberUpdateModel.SecondaryLanguage />
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="text-link border-0 bg-transparent px-2 py-2" onclick="return false;" data-a11y-dialog-show="info_SecondaryLanguage">Edit</button>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COMMITTEES TAB -->
                    <div id="tabpanel-committees" tabindex="0" role="tabpanel" aria-labelledby="tab-committees" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">Profile</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">
                                        @if (!String.IsNullOrEmpty(content.CommitteesHeadline))
                                        {
                                            <h2 class="h2">@content.CommitteesHeadline</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content.CommitteesIntroContent.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.CommitteesIntroContent)
                                            </div>
                                        }

                                        <h3 class="h5 mt-4 mb-3 text-normal">@member.FirstName's Committee Information</h3>
                                        <div class="w-100 border border-medium rounded mb-5">
                                            @if (memberCommittees.Any())
                                            {
                                                <table class="table-info w-100 fs-sm overflow-hidden">
                                                    <thead>
                                                        <tr>
                                                            <th class="py-2" style="background-color: var(--bs-gray-10)">Committee Name</th>
                                                            <th class="py-2" style="background-color: var(--bs-gray-10)">Service Term</th>
                                                            <th class="py-2" style="background-color: var(--bs-gray-10)">Position</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: var(--bs-gray-30)">
                                                        @foreach (var committee in memberCommittees)
                                                        {
                                                            <tr>
                                                                <td class="py-2 text-body">
                                                                    @committee.Name
                                                                </td>
                                                                <td class="py-2 text-body">
                                                                    @committee.FromYear &ndash; @committee.ToYear
                                                                </td>
                                                                <td class="py-2 text-body">
                                                                    @committee.Title
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <p class="p-4 fst-italic">
                                                    You do not belong to any committees.
                                                </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONTRIBUTIONS TAB -->
                    <div id="tabpanel-donor-status" tabindex="0" role="tabpanel" aria-labelledby="tab-donor-status" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">Profile</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">

                                        @if (!String.IsNullOrEmpty(content.ContributionsHeadline))
                                        {
                                            <h2 class="h2">@content.ContributionsHeadline</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content.ContributionsIntroContent.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.ContributionsIntroContent)
                                            </div>
                                        }

                                        <div class="border border-medium p-4 rounded mb-3">
                                            <h4 class="h6 mb-4 fs-lg">
                                                Make a Contribution
                                            </h4>
                                            @{
                                                var rpacLink = content.Value<Link>("RPacbutton");
                                                var ddLink = content.Value<Link>("directGiverButton");
                                            }
                                            <div class="d-flex flex-row gap-3">
                                                @if (rpacLink != null)
                                                {
                                                    <a href="@rpacLink.Url" class="btn btn-primary" target="@rpacLink.Target">@rpacLink.Name</a>
                                                }
                                                @if (ddLink != null) {
                                                    <a href="@ddLink.Url" class="btn btn-primary" target="@ddLink.Target">@ddLink.Name</a>
                                                }
                                            </div>
                                        </div>

                                        @if (memberDonationQuery.Any())
                                        {
                                            decimal totalContribution = 0;

                                            <div class="border border-medium p-4 rounded mb-3">
                                                <h4 class="h6 mb-4 fs-lg">
                                                    Contribution History
                                                </h4>

                                                <table class="table-info w-100 fs-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Year</th>
                                                            <th>Program</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: var(--bs-gray-30)" class="text-body">
                                                        @foreach (var memberDonation in memberDonationQuery.OrderBy(p => p.CalendarYear).Reverse())
                                                        {
                                                            <tr class="">
                                                                <td class="py-2">
                                                                    @memberDonation.CalendarYear
                                                                </td>
                                                                <td class="py-2">
                                                                    @memberDonation.FundLongName
                                                                </td>
                                                                <td class="py-2">
                                                                    @memberDonation.TotalAmount
                                                                </td>
                                                            </tr>

                                                            totalContribution += memberDonation.TotalAmount;
                                                        }
                                                        <tr class="fw-bold">
                                                            <td class="py-2" colspan="2">
                                                            <td class="py-2">
                                                                @totalContribution
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        else
                                        {
                                            <p class="fs-lg font-italicize">
                                                Our records show that you have not made any contributions.
                                            </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SUBSCRIPTIONS TAB -->
                    <div id="tabpanel-subscriptions" tabindex="0" role="tabpanel" aria-labelledby="tab-subscriptions" class="js-tabs-panel mywra-tab__panel" aria-hidden="true">
                        <div class="w-100 h-100">
                            <div class="row g-0 h-100 align-items-baseline align-content-start align-items-lg-stretch align-content-lg-stretch">
                                <div class="mywra-tab__panel-return col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
                                    <div class="mywra-left px-4 pb-6 pt-5 pt-lg-9 h-100">
                                        <button class="js-page-tab-return-btn page-tab-return-btn text d-block mx-auto outline-0 border-0 text-link fw-bold text-decoration-none" title="Close Panel"><i class="fa-solid fa-chevron-left"></i> <span class="fs-lg ps-2">Profile</span></button>
                                    </div>
                                </div>
                                <div class="col position-relative bg-white pb-5">
                                    <div class="mywra-right container container--sm ms-0 pt-5 pt-lg-9">

                                        @if (!String.IsNullOrEmpty(content.SubscriptionsHeadline))
                                        {
                                            <h2 class="h2">@content.SubscriptionsHeadline</h2>
                                        }

                                        @if (!String.IsNullOrEmpty(content.SubscriptionsIntroContent.ToString()))
                                        {
                                            <div class="rich-text mb-5">
                                                @Html.Raw(content.SubscriptionsIntroContent)
                                            </div>
                                        }


                                        <h3 class="h5">Inman Select</h3>

                                        <div class="border border-medium p-4 rounded mb-5">
                                            @if (!String.IsNullOrEmpty(content.InmanHeadline.ToString()))
                                            {
                                                <h4 class="h6 mb-4 fs-lg">
                                                    @Html.Raw(content.InmanHeadline)
                                                </h4>
                                            }
                                            @if (!String.IsNullOrEmpty(content.InmanContent.ToString()))
                                            {
                                                <div class="rich-text">
                                                    @Html.Raw(content.InmanContent)
                                                </div>
                                            }
                                            @{
                                                var inmanLink = content.Value<Link>("InmanButton");
                                            }
                                            @if (inmanLink != null)
                                            {
                                                <a href="@inmanLink.Url" class="btn btn-primary" target="@inmanLink.Target">@inmanLink.Name</a>
                                            }
                                        </div>

                                        <h4 class="h5">Wisconsin Real Estate Magazine</h4>
                                        <div class="border border-medium p-4 rounded mb-5">
                                            @if (!String.IsNullOrEmpty(content.WRemagazineHeadline.ToString()))
                                            {
                                                <h4 class="h6 mb-4 fs-lg">
                                                    @Html.Raw(content.WRemagazineHeadline)
                                                </h4>
                                            }
                                            @if (!String.IsNullOrEmpty(content.InmanContent.ToString())){
                                                <div class="rich-text">
                                                    @Html.Raw(content.WRemagazineContent)
                                                </div>
                                            }
											@using (Html.BeginUmbracoForm<MemberMarketingSubscriptionEditSurfaceController>(nameof(MemberMarketingSubscriptionEditSurfaceController.HandleMemberMarketingMagazineSubscriptionEdit)))
											{
											    @for (int i = 0; i < magazineSubscriptionUpdateModel.Count; i++)
											    {
												    <div class="form-group">
													    <div class="d-flex flex-row mb-3">
														    <input asp-for=@magazineSubscriptionUpdateModel[@i].SubscriptionID type="hidden" />
														    <input asp-for=@magazineSubscriptionUpdateModel[@i].PreviousValue type="hidden" />
														    <input asp-for=@magazineSubscriptionUpdateModel[@i].IsActive class="form-check-input" type="checkbox">
														    <div class="ps-2">
															    <label for="wranews" class="form-check-label fw-bold">@magazineSubscriptionUpdateModel[@i].SubscriptionName</label>
															    <p>@magazineSubscriptionUpdateModel[@i].Description</p>
														    </div>
													    </div>
													    <button class="btn btn-primary btn-sm mt-3">Save Preferences</button>
												    </div>
											    }
											}
                                        </div>

                                        <h4 class="h5">Email Newsletters</h4>
                                        <div class="border border-medium p-4 rounded mb-5">
                                            @if (!String.IsNullOrEmpty(content.EmailNewslettersHeadline.ToString()))
                                            {
                                                <h4 class="h6 mb-4 fs-lg">
                                                    @Html.Raw(content.EmailNewslettersHeadline)
                                                </h4>
                                            }
                                            @if (!String.IsNullOrEmpty(content.EmailNewslettersContent.ToString()))
                                            {
                                                <div class="rich-text">
                                                    @Html.Raw(content.EmailNewslettersContent)
                                                </div>
                                            }
											@using (Html.BeginUmbracoForm<MemberMarketingSubscriptionEditSurfaceController>(nameof(MemberMarketingSubscriptionEditSurfaceController.HandleMemberMarketingEmailSubscriptionEdit)))
											{
                                            <div class="form-group">
												@for (var i = 0; i < emailSubscriptionUpdateModel.Count; i++)
                                                {
                                                    <div class="d-flex flex-row mb-3">
														<input asp-for=@emailSubscriptionUpdateModel[@i].SubscriptionID type="hidden" />
														<input asp-for=@emailSubscriptionUpdateModel[@i].PreviousValue type="hidden" />
                                                        <input asp-for=@emailSubscriptionUpdateModel[@i].IsActive class="form-check-input" type="checkbox">
                                                        <div class="ps-2">
                                                            <label asp-for=@emailSubscriptionUpdateModel[@i].IsActive class="form-check-label fw-bold">@emailSubscriptionUpdateModel[@i].SubscriptionName</label>
															<p class="mb-0">@emailSubscriptionUpdateModel[i].Description</p>
                                                            @* <p><a href="/">See Sample</a></p> *@
                                                        </div>
                                                    </div>
                                                }
                                                <button class="btn btn-primary btn-sm mt-3">Save Preferences</button>
                                            </div>
											}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>