@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<WRA.Umbraco.Models.MywraEducation>
@{
    Layout = "~/Views/_Layout.cshtml";
    var content = (ContentModels.MywraEducation)Model;
    var orders = content.Orders;
}

<div class="w-100">
    <div class="row g-0">
        @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", true } })
        @await Html.PartialAsync("_mywraNav")

        <div class="col position-relative pb-5">
            @await Html.PartialAsync("_mywraHeader", new ViewDataDictionary(this.ViewData) { { "isMobile", false } })

            <div class="mywra-right container container--md ms-0 pt-5 pt-lg-11">

                <div class="pb-2 pb-lg-4">
                    @if (!String.IsNullOrEmpty(content.Headline)){
                        <h1 class="h2">@content.Headline</h1>
                    }

                    @if (!String.IsNullOrEmpty(content.IntroContent.ToString()))
                    {
                        <div class="rich-text mb-5">
                            @Html.Raw(content.IntroContent)
                        </div>
                    }
                </div>

                <!-- Order History -->
                <div class="w-100 py-4 border border-medium rounded mb-5">
                    <h3 class="h5 py-2 px-4">Order History</h3>
                    <table class="table-courses w-100 fs-sm">
                        <thead class="fw-bold" style="background: var(--bs-gray-10)">
                            <tr>
                                <th class="py-2">Order ID</th>
                                <th class="py-2">Order Date</th>
                                <th class="py-2">Order Total</th>
                                <th class="py-2">Order Status</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--bs-gray-30)">
                            @foreach (var order in orders)
                            {
                                <tr>
                                    <td class="py-2">
                                        <button class="px-0 py-2 border-0 bg-transparent text-decoration-underline text-primary" type="button" data-a11y-dialog-show="order-@order.OrderId-details">@order.OrderId</button>
                                    </td>
                                    <td class="py-2">@order.OrderDate.ToString("MMM dd, yyyy")</td>
                                    <td class="py-2">@order.OrderTotal.ToString("C")</td>
                                    <td class="py-2">@order.OrderStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- Order Detail (dialog opened by clicking on order ID above) -->
                    @foreach (var order in orders)
                    {
                        var lineItems = order.OrderLineItems;

                        <div id="order-@order.OrderId-details" class="js-dialog dialog-container" aria-hidden="true">
                            <div class="dialog-overlay" data-a11y-dialog-hide></div>
                            <div class="dialog-content-wrapper" style="max-width: 824px; max-height: 75vh;" role="document">
                                <div class="dialog-content-header">
                                    <h2 class="h4 mb-0">Order #@order.OrderId</h2>
                                    <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
                                        &times;
                                    </button>
                                </div>
                                <div class="dialog-content p-5 pb-3 fs-sm">
                                    @foreach (var lineItem in lineItems)
                                    {
                                        <div class="accordions-wrapper accordions-wrapper--border accordions-wrapper--border--light mb-3">
                                            <details class="accordion">
                                                <summary class="accordion__toggle px-3">
                                                    <span class="flex-grow-1">@lineItem.Title</span>
                                                    <span class="d-none d-md-inline">Qty: @Math.Round(lineItem.Quantity)</span>
                                                    <span class="d-none d-md-inline">@lineItem.Price.ToString("C")</span>
                                                    <div class="accordion__toggle-icon me-1">
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </div>
                                                </summary>
                                                <div class="accordion__content px-3 text-body">
                                                    <table class="table table-sm table-striped mb-0">
                                                        <tr>
                                                            <th>SKU</th>
                                                            <td>@lineItem.SKU</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Title</th>
                                                            <td>@lineItem.Title</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td>@lineItem.Description</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Quantity</th>
                                                            <td>@Math.Round(lineItem.Quantity)</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Price</th>
                                                            <td>@lineItem.Price.ToString("C")</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </details>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Required Courses -->
                <div class="w-100 py-4 border border-medium rounded mb-5">
                    <h3 class="h5 py-2 px-4">Required Courses</h3>
                    <table class="table-courses w-100 fs-sm">
                        <thead class="fw-bold" style="background: var(--bs-gray-10)">
                            <tr>
                                <th class="py-2">CE Course</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody style="color: var(--bs-gray-30)">
                            @foreach(var requiredCourse in Model.RequiredCourses)
                            {
                                <tr class="">
                                    <td class="py-2">
                                        @requiredCourse.Name
                                    </td>
                                    <td class="py-2">
                                        @requiredCourse.Status
                                    </td>
                                    <td class="py-2 text-center">
                                        @* <button class="border-0 bg-transparent px-2 py-2" title="Download"> *@
                                        @*     <i class="fa-regular fa-arrow-down-to-bracket text-primary fs-lg"></i> *@
                                        @* </button> *@
                                        @if (requiredCourse.CourseProduct != null)
                                        {
                                            <button class="border-0 bg-transparent px-2 py-2" title="Buy">
                                                <i href="@requiredCourse.CourseProduct.Url()" class="far fa-shopping-cart text-primary fs-lg"></i>
                                            </button>
                                        }
                                        @if (requiredCourse.CourseLauncherUrl != null)
                                        {
                                            <button class="border-0 bg-transparent px-2 py-2" title="External Link">
                                                <i href="@requiredCourse.CourseLauncherUrl" class="fa-regular fa-arrow-up-right-from-square text-primary fs-lg"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary btn-sm mt-4">View All Courses</a>
                    </div>
                </div>

                <!-- Misc Courses -->
                <h3 class="h5 py-2 px-4">Lorem Courses</h3>
                <div class="accordions-wrapper accordions-wrapper--border accordions-wrapper--border--light mb-5">
                    @for (var i = 1; i < 5; i++)
                    {
                        <details class="accordion accordion--light">
                            <summary class="accordion__toggle px-3">
                                <div class="ps-1">
                                    Lorem Ipsum Dolor
                                </div>
                                <div class="accordion__toggle-icon me-1">
                                    <i class="fas fa-chevron-down"></i>
                                    <i class="fas fa-chevron-up"></i>
                                </div>

                            </summary>
                            <div class="accordion__content px-4 text-body">
                                @for (var c = 1; c < 5; c++)
                                {
                                    <div class="border border-medium p-4 rounded mb-3">
                                        <h4 class="h6">
                                            Pretium aenean pharetra magna
                                        </h4>
                                        <p class="fw-light">
                                            Gain the power you need to strive with the WRA Mini Course Series.
                                        </p>
                                        <p>
                                            You may access this course until 5/14/2024.
                                        </p>
                                    </div>
                                }
                            </div>
                        </details>
                    }
                </div>


            </div>

        </div>
    </div>
</div>