@using Umbraco.Cms.Web.Common.PublishedModels;
@using WRA.Umbraco.Controllers;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ResetPassword>
@using ContentModels = WRA.Umbraco.Models;
@{

    bool change = false;

    var user = Context.Request.Query["id"];
    var token = Context.Request.Query["token"];

    if (!string.IsNullOrWhiteSpace(token))
    {
        change = true;
        TempData["Message"] = "Reset password";
    }

}

<section>
    <div class="container">
        <h3>@Model.Name</h3>
        <div class="row">
            <div class="col-10 offset-1">
                @using (Html.BeginUmbracoForm<MemberLoginController>("ForgotPassword"))
                {
					if(!ViewData.ModelState.IsValid){
						<div class="alert alert-danger">
							@Html.ValidationSummary();
							@Html.Raw(TempData["Message"]);
						</div>
					}
					@* @Html.Raw(TempData["Message"]) *@
					<!-- If the change flag is true render the change password form -->
					@if (change)
					{
						<fieldset>
							<div class="form-group ">
								<label class="control-label col-sm-5">New password</label>
								<div class="col-sm-7">
									<div class="input-group" id="show_hide_password">
										<input type="password" id="NewPassword" required minlength="10" name="NewPassword" placeholder="new password" class="form-control ltr" />
										<div class="input-group-addon">
											<a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
										</div>
									</div>

								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5">Confirm password</label>
								<div class="col-sm-7">
									<input type="password" id="ConfirmPassword" required minlength="8" name="ConfirmPassword" placeholder="confirm password" class="form-control ltr" />
								</div>
							</div>
							<div class="form-group">
								<input type="hidden" id="userid" name="userid" value="@user" />
								<input type="hidden" id="token" name="token" value="@token" />
								<input type="submit" value="Reset password" class="btn btn-danger" />
							</div>
						</fieldset>
					}
					else{
						<fieldset class="form-group">
							<div class="form-group">
								<input required type="email" id="email" data-toggle="tooltip" name="email" placeholder="login email" class="form-control ltr" />
							</div>
							<div class="form-group">
								@Html.ValidationSummary()
							</div>
							<div class="form-group">
								<input type="submit" value="Send" class="btn btn-danger" />
							</div>

						</fieldset>
					}   
				}

            </div>
        </div>
    </div>
</section>